
<div class="col-md-3 left_col menu_fixed">
   <div class="left_col scroll-view">
      <div class="navbar nav_title" style="border: 0;">
         @*<a href="index" class="site_title"><i class="fa fa-paw"></i> <span>Luluka Bank</span></a>*@
         <a href="index" class="site_title"><img src="~/gentela-gh-pages/production/images/L66.png" style="width:80px; margin-left:-20px" ><span>Luluka Bank</span></a>
      </div>

      <div class="clearfix"></div>

      <!-- menu profile quick info -->
      <div class="profile clearfix">
         <div class="profile_pic">
            <img src="~/gentela-gh-pages/production/images/img.jpg" alt="..." class="img-circle profile_img">
         </div>
         <div class="profile_info">
            <span>Welcome,</span>
            <h2>Nerd User</h2>
         </div>
      </div>
      <!-- /menu profile quick info -->

      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
         <div class="menu_section">
            <h3>MENU</h3>
            <ul class="nav side-menu">
               <li>
                  <a><i class="fa fa-home"></i> Home Page <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                     <li><a href="index.html">Dashboard</a></li>
                     @*<li><a href="index2.html">Dashboard2</a></li>
                     <li><a href="index3.html">Dashboard3</a></li>*@
                  </ul>
               </li>
               <li>
                  <a><i class="fa fa-edit"></i> Account Transactions <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                     <li><a href="/SendMoney/Index/">Money Transfer</a></li>
                     <li><a href="/MyLastTransactions/Index/">Last Transactions</a></li>
                     <li><a href="form_validation.html">Money Transfer with QR</a></li>
                     <li><a href="form_wizards.html">Share the Account Infos</a></li>
                     <li><a href="form_upload.html">Transfer Inter Accounts</a></li>
                     <li><a href="form_buttons.html">Transfer to Mobile</a></li>
                  </ul>
               </li>
               <li>
                  <a><i class="fa fa-desktop"></i> My Accounts <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                     <li><a href="general_elements.html">All Accounts</a></li>
                     <li><a href="media_gallery.html">Open a New Account</a></li>
                     <li><a href="typography.html">Drawing Accounts</a></li>
                     <li><a href="icons.html">Saving Accounts</a></li>
                     <li><a href="glyphicons.html">Gold Accounts</a></li>
                     <li><a href="widgets.html">Credit Accounts</a></li>
                     <li><a href="invoice.html">Exchange Accounts</a></li>
                  </ul>
               </li>
               <li>
                  <a><i class="fa fa-money"></i> Money Transfers <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                     <li><a asp-controller="SendMoney" asp-action="Index" asp-route-mycurrency="TL"> ₺ TL Transfer </a></li>
                     <li><a asp-controller="SendMoney" asp-action="Index" asp-route-mycurrency="USD"> $ US Dollar Transfer </a></li>
                     <li><a asp-controller="SendMoney" asp-action="Index" asp-route-mycurrency="EUR"> &#x20AC Euro Transfer </a></li>
                     <li><a asp-controller="SendMoney" asp-action="Index" asp-route-mycurrency="Other"> ₿ Other Transfers </a></li>
                  </ul>
               </li>
               <li>
                  <a><i class="fa fa-table"></i> Payments <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                     <li><a href="tables.html">Bill Payments</a></li>
                     <li><a href="tables_dynamic.html">Education Payments</a></li>
                     <li><a href="tables_dynamic.html">Traffic Fine Payments</a></li>
                     <li><a href="tables_dynamic.html">Insurance Payments</a></li>
                     <li><a href="tables_dynamic.html">Exam Payments</a></li>
                     <li><a href="tables_dynamic.html">Others</a></li>
                  </ul>
               </li>
               <li>
                  <a><i class="fa fa-bar-chart-o"></i> Exchange <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                     <li><a href="chartjs.html">Exchange Rates</a></li>
                     <li><a href="chartjs2.html">Exchange Transactions</a></li>
                     <li><a href="morisjs.html">Gold Transactions</a></li>
                  </ul>
               </li>
               <li>
                  <a><i class="fa fa-clone"></i>Credits <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                     <li><a href="fixed_sidebar.html">Credit Accounts</a></li>
                     <li><a href="fixed_footer.html">Apply to a Credit</a></li>
                     <li><a href="fixed_footer.html">Credit Payments</a></li>
                  </ul>
               </li>
            </ul>
         </div>
         <div class="menu_section">
            <h3>Live On</h3>
            <ul class="nav side-menu">
               <li>
                  <a><i class="fa fa-bug"></i> My Cards <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                     <li><a href="e_commerce.html">Credit Cards</a></li>
                     <li><a href="projects.html">Bank Cards</a></li>
                     <li><a href="project_detail.html">Virtual Cards</a></li>
                  </ul>
               </li>
               <li>
                  <a><i class="fa fa-windows"></i> Settings <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                     <li><a href="page_403.html">Change Password</a></li>
                     <li><a href="page_404.html">Profile Infos</a></li>
                     <li><a href="page_500.html">Contact Infos</a></li>
                  </ul>
               </li>
               @*<li>
                  <a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                     <li><a href="#level1_1">Level One</a>
                     <li>
                        <a>Level One<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                           <li class="sub_menu">
                              <a href="level2.html">Level Two</a>
                           </li>
                           <li>
                              <a href="#level2_1">Level Two</a>
                           </li>
                           <li>
                              <a href="#level2_2">Level Two</a>
                           </li>
                        </ul>
                     </li>
                     <li>
                        <a href="#level1_2">Level One</a>
                     </li>
                  </ul>
               </li>*@
               @*<li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>*@
               <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Log Out </a></li>
            </ul>
         </div>

      </div>
      <!-- /sidebar menu -->
      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
         <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
         </a>
         <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
         </a>
         <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
         </a>
         <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
         </a>
      </div>
      <!-- /menu footer buttons -->
   </div>
</div>
